* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_box {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 720px;
    background: linear-gradient(#fabdbd, #f0a2f3d7);
    border-radius: 12px;
    text-align: center;
}

.title {
    margin: 20px;
    color: rgb(71, 71, 71);
}

.list_box {
    height: 500px;
    width: 100%;
    margin: 20px 0 20px 0;
}

#input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
}

.button {
    border-radius: 50%;
    line-height: 45px;
    font-size: 35px;
    width: 45px;
    height: 45px;
    border: grey 3px solid;
    background-color: black;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}